<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(shoppingListForm)"
      #shoppingListForm="ngForm">
      <div class="row">

        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 name="name"
                 class="form-control"
                 ngModel
                 required
                 #name="ngModel">
        </div>

        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number"
                 id="amount"
                 name="amount"
                 class="form-control"
                 ngModel
                 required
                 pattern="^[1-9]+[0-9]*$"
                 #amount="ngModel">
        </div>

        <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a valid ingridient name!</span>
        <span class="help-block" *ngIf="!amount.valid && amount.touched">Please enter a valid amount!</span>

      </div>


      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="!shoppingListForm.valid">
            {{ editMode ? 'Update' :'Add'  }}
          </button>

          <button class="btn btn-danger"
                  type="button"
                  *ngIf="editMode"
                  (click)="onDelete()">
            Delete
          </button>

          <button class="btn btn-primary"
                  type="reset"
                  (click)="onClear()">
            Clear
          </button>

        </div>
      </div>
    </form>
  </div>
</div>
